<div class="container">
  <h1>Fechamento</h1>
  
  
  <p>
    Módulo desenvolvido para cadastro das receitas (valores adquiridos) e despesas (valores gastos),
    com a finalidade de geração de relárotios visando um maior controle financeiro
  </p>
  
  <p>
    <%= link_to 'Receitas', recipes_path, class: "button" %>
    <%= link_to 'Despesas', expenses_path, class: "button" %>
  </p>
  
  <p>
    <%= link_to "Voltar", home_index_url %>
  </p>
</div>