<div class="container">
  
  <h1>Gestão</h1>
  <p>
    Ambiente desenvolvido único e exclusivamente para controle da movimentação financeira da Instituição Templo Espiritualista Fé
    em Jesus Cristo: Mãe Mariazinha do Cafundó, Pai João de Camargo e Irmão André Luiz.
  </p>
  
  <p>
    <%= link_to "Fechamento", home_closure_view_url, class: "button" %>
    <%= link_to "Relatório", report_index_report_url, class: "button" %>
  </p>
  <p>
    
  </p>
  <p>
   
  </p>
</div>
